Repository NetApp/FSx-ONTAP-samples-scripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kcantrel, @cbenbass, @mickeysh, @LirazRom10, @varunrai, @nichollri

.github/CODEOWNERS:

#
# Set a "catch-all" owner. Should be set to the current active admin for the repo.
* @kcantrel
#
# Set the owner for all the individual samples, if the owner is known and they want to continue to maintain the sample:
/AI/GenAI-ChatBot-application-sample/ @cbenbass
/CloudFormation/deploy-fsx-ontap/ @kcantrel
/Ansible/fsx_inventory_report/ @kcantrel
/Ansible/snapmirror_report/ @kcantrel
/EKS/FSxN-as-PVC-for-EKS/ @mickeysh
/Management-Utilities/auto_create_sm_relationships/ @kcantrel
/Management-Utilities/auto_set_fsxn_auto_grow/ @kcantrel
/Management-Utilities/fsx-ontap-aws-cli-scripts/ @kcantrel
/Management-Utilities/fsxn-rotate-secret/ @kcantrel
/Management-Utilities/warm_performance_tier/ @kcantrel
/Monitoring/CloudWatch-FSx/ @LirazRom10
/Monitoring/LUN-monitoring/ @LirazRom10
/Monitoring/auto-add-cw-alarms/ @kcantrel
/Monitoring/monitor-ontap-services/ @kcantrel
/Monitoring/ingest_nas_audit_logs_into_cloudwatch/ @kcantrel
/Terraform/deploy-fsx-ontap-sqlserver/ @varunrai
/Terraform/deploy-fsx-ontap-fileshare-access/ @varunrai
/Terraform/deploy-fsx-ontap/ @kcantrel
/Terraform/fsxn-replicate/ @nichollri

Added a screenshot of the dashboard to the README file.
  Monitoring/LUN-monitoring/README.md
  Monitoring/LUN-monitoring/images/LUN-Monitoring-Dashboard.png
Owners: @LirazRom10

Added image to the LUN Monitoring sample; Updated main README to fix a URL issue; Added README file to the subfolders that didn't already have them.
  AI/README.md
  CloudFormation/README.md
  EKS/README.md
  Monitoring/LUN-monitoring/images/LUN-Monitoring-Dashboard.png
  README.md
  Solutions/README.md
  Terraform/README.md
Owners: @kcantrel, @LirazRom10

Corrected some typos.
  AI/README.md
  EKS/README.md
  Terraform/README.md
Owners: @kcantrel

Fixed a bug where it would try to inject non-XML audit log files. Created a warning message if it doesn't find any log files.
  Monitoring/ingest_nas_audit_logs_into_cloudwatch/README.md
  Monitoring/ingest_nas_audit_logs_into_cloudwatch/ingest_audit_log.py
Owners: @kcantrel

Fixed a typo
  Monitoring/ingest_nas_audit_logs_into_cloudwatch/README.md
Owners: @kcantrel
